:root {
  --card-set-gap: 30px;
  --color-first-title: #212121;
  --btn: #2196f3;
  --primary-bg-color: #ffffff;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--primary-bg-color);
  color: var(--first-title);
}
.link {
  display: inline-block;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*----------Header-----------*/
.header {
  border-bottom: #ececec solid 1px;
  padding: 24px 0;
}
.header > .container {
  display: flex;
}
.header-list {
  display: flex;
  justify-content: center;
}
.header-list:hover {
  color: var(--btn);
}
.header-contact {
  align-items: center;
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.site-contacts {
  display: flex;
  margin-left: auto;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-first-title);
  text-decoration: none;
}

.site-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.site-contacts:hover,
.site-contacts:focus {
  color: var(--btn);
}

.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
}

.blue-logo {
  color: var(--btn);
}
.header-link {
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: var(--btn);
}

/*----------Hero-----------*/
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
}

.hero {
  display: block;
  width: 100%;
  padding: 200px 15px;
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/*----------About-----------*/

.about {
  padding-top: 94px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title);
  margin-bottom: 10px;
}
.about-pre-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*----------Aside-----------*/
.aside {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title);
}
.aside-item {
  width: calc((100% - 60 px) / 3);
}
.aside-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

/*----------User-----------*/
.user-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.user-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-title);
}
.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-title);
  text-align: center;
  margin-bottom: 10px;
}

.past-user-item {
  padding: 30px 0;
}

.user-pre-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.user {
  background-color: #f5f4fa;
}
/*----------Footer-----------*/
.footer {
  background-color: #2f303a;
  text-decoration: none;
  padding: 60px 0;
  justify-content: space-around;
}
.footer-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-blue-logo {
  color: var(--btn);
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
.footer-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  list-style: none;
  margin-bottom: 9px;
}
.footer-item-post {
  margin-bottom: 9px;
}
/*----------Portfolio-----------*/
.benefits-pre-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.benefits-section {
  padding-top: 94px;
}
.benefits-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  padding: 6px 22px;
}
.benefits-btn:hover,
.benefits-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.benefits-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.benefits-list > .benefits-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border: #eeeeee solid 1px;
}
.past-benefits-item {
  padding: 20px 24px;
}
.benefits-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.benefits-pre-title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
